# Main server and web views
devpi-server >= 4
devpi-client
devpi-web

# Patched version of semantic-ui theme until this MR is merged:
# https://github.com/apihackers/devpi-semantic-ui/pull/1
git+https://github.com/LordGaav/devpi-semantic-ui@add-pygments-css#egg=devpi-semantic-ui

# LDAP plugin
ldap3 < 2
devpi-ldap

# Web extensions
devpi-findlinks

# Tools
devpi-cleaner
# Install via Git until version >= 0.1.1 is available via Pypi
git+https://github.com/innoteq/devpi-slack/@95933899818ce96039c561b6fdc8030ab5238125#egg=devpi-slack
