# Main server and web views
devpi-server==6.3.1
devpi-client==5.2.3
devpi-web==4.0.8

# Web extensions
devpi-findlinks==2.0.1
devpi-lockdown==2.0.0

# Tools
devpi-cleaner==0.3.0
git+https://github.com/max-arnold/devpi-slack.git@eb598f705b918705c8fc6620773f6ed5c5e57e94  # 0.1.4
