# Main server and web views
devpi-server>=4.3.0
devpi-client>=3.0.0
devpi-web>=3.2.0

# Web skin
devpi-semantic-ui>=0.2.2

# LDAP plugin
ldap3 < 2
devpi-ldap==1.2.0

# Web extensions
devpi-findlinks==2.0.0
devpi-lockdown==1.0.0

# Tools
devpi-cleaner==0.2.0
devpi-slack>=0.1.1
